* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: calc(100vw - (100vw - 100%)); }

.navBar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10; }

.navBarLogo {
  width: 30%;
  width: 40px;
  height: 40px; }

.navBarLogoImg {
  width: 40px;
  height: 40px; }

.navBarMenuIcon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden; }

.navBarMenuIconSpan {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  transition: 0.5s; }

.navBarMenuIcon span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 5px; }

.navBarMenuIcon.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s; }

.navBarMenuIcon span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 5px; }

.navBarMenuIcon.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s; }

.navBarMenuIcon.active span:nth-child(3) {
  transform: translateX(60px); }

.navBarLista {
  position: absolute;
  top: 100px;
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 50px 0px 0px 0px;
  gap: 4rem;
  z-index: 9; }

@keyframes aparecer {
  from {
    right: -1000px; }
  to {
    right: 0px; } }

@keyframes desaparecer {
  from {
    right: 0px; }
  to {
    right: -1000px; } }

.navBarListaLi {
  list-style: none; }

.navBarListaLink {
  text-decoration: none; }

.galeriaContainer {
  background-color: red;
  width: 100%;
  height: 80vh; }

.carousel {
  max-width: 800px;
  height: 80vh;
  margin: 0 auto; }

.carousel-inner {
  max-width: 800px;
  height: 80vh;
  margin: 0 auto; }

.carousel-item-img {
  max-width: 800px;
  height: 80vh; }

.servicios {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .serviciosContenedor {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px; }
    .serviciosContenedorItem {
      width: 100px;
      border: 1px solid black; }

.ubicacion {
  width: 100%;
  height: 400px;
  background-color: slateblue; }

.contacto {
  width: 100%;
  height: 300px;
  background-color: teal; }
