@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Manrope; }

body {
  width: calc(100vw - (100vw - 100%));
  position: relative; }

@font-face {
  font-family: Cardiff;
  src: url(.../../font/Autolinker.otf); }

@font-face {
  font-family: "Manrope", sans-serif; }

@font-face {
  font-family: "Merriweather", serif;
  src: url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap"); }

.map {
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 0; }

.map li {
  display: none; }

.map button {
  display: none; }

@media only screen and (min-width: 400px) {
  .map {
    width: 380px;
    height: 250px; } }

@media only screen and (min-width: 500px) {
  .map {
    width: 480px;
    height: 300px; } }

@media only screen and (min-width: 700px) {
  .map {
    width: 680px;
    height: 400px; } }

@media only screen and (min-width: 900px) {
  .map {
    width: 880px;
    height: 400px; } }

.wavesContainer {
  width: 100%;
  background: rgba(131, 251, 247, 0.856);
  background: linear-gradient(0deg, rgba(131, 251, 247, 0.856) 1%, rgba(131, 251, 247, 0.856) 38%); }

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px; }

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white; }

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 100px; }
  .content {
    height: 30vh; } }

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
  scroll-behavior: auto;
  padding-top: 100px; }
  .gliderDivs {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 5px 13px 2px black;
    -webkit-box-shadow: 6px 5px 13px 2px black;
    -moz-box-shadow: 6px 5px 13px 2px black;
    border-radius: 5px;
    margin: 15px; }
    .gliderDivsPersona {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .gliderDivsPersonaNombre {
        text-align: center; }
      .gliderDivsPersonaBandera {
        width: 40px;
        height: 20px;
        padding-left: 5px; }
    .gliderDivsTexto {
      width: 90%;
      height: 250px;
      text-align: center; }

.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: white;
  height: auto; }

.glider-track {
  transform: translateZ(0);
  width: 99%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1; }

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab; }

.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none; }

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 5px; }

.glider-slide img {
  max-width: 100%; }

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0; }

.glider-prev,
.glider-next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: 0px;
  border: 0 black;
  top: 55%;
  cursor: pointer;
  color: black;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

.glider-next {
  right: 0px;
  left: auto; }

.glider-next.disabled,
.glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default; }

.glider-slide {
  min-width: 150px; }

.glider-hide {
  opacity: 0; }

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px; }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25); } }

.aviso {
  top: 0;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.842);
  color: white; }

.tituloH1 {
  font-family: Cardiff;
  color: rgba(0, 0, 255, 0.76);
  text-align: center;
  font-size: 50px;
  padding: 40px 0px; }

.floating-wpp {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 14px;
  transition: bottom 0.2s;
  opacity: 0.5;
  z-index: 3; }

.floating-wpp .floating-wpp-button {
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(66, 44, 44, 0.4);
  transition: box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden; }

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%; }

.floating-wpp:hover {
  bottom: 15px;
  opacity: 1; }

.floating-wpp:hover .floating-wpp-button {
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4); }

.floating-wpp .floating-wpp-popup {
  /*border: 2px solid white;*/
  border-radius: 6px;
  background-color: #e5ddd5;
  position: absolute;
  overflow: hidden;
  padding: 0;
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
  width: 0px;
  height: 0px;
  bottom: 0;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
  transform-origin: bottom; }

.floating-wpp .floating-wpp-popup.active {
  padding: 0 12px 12px 12px;
  width: 260px;
  height: auto;
  bottom: 82px;
  right: 0;
  opacity: 1; }

.floating-wpp .floating-wpp-popup .floating-wpp-message {
  background-color: white;
  padding: 8px;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.2s; }

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
  opacity: 1;
  transition-delay: 0.2s; }

.floating-wpp .floating-wpp-popup .floating-wpp-head {
  text-align: right;
  color: white;
  margin: 0 -15px 10px -15px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }

.floating-wpp .floating-wpp-input-message {
  background-color: white;
  margin: 10px -15px -15px -15px;
  padding: 0 15px;
  display: flex;
  align-items: center; }

.floating-wpp .floating-wpp-input-message textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  resize: none; }

.floating-wpp .floating-wpp-btn-send {
  margin-left: 12px;
  font-size: 0;
  cursor: pointer; }

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(131, 251, 247, 0.89); }

.navBarLogo {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: start;
  align-items: center; }
  .navBarLogoTexto {
    font-family: Cardiff;
    color: rgba(0, 0, 255, 0.76);
    font-size: 2.2rem;
    margin: 5px; }

.navBarLogoLink {
  text-decoration: none; }

.navBarLogoImg {
  width: 40px;
  height: 40px; }

.navBarMenuIcon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden; }

.navBarMenuIconSpan {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: rgba(0, 0, 255, 0.76);
  border-radius: 4px;
  transition: 0.5s; }

.navBarMenuIcon span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 5px; }

.navBarMenuIcon.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s; }

.navBarMenuIcon span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 5px; }

.navBarMenuIcon.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s; }

.navBarMenuIcon.active span:nth-child(3) {
  transform: translateX(60px); }

.navBarLista {
  display: none; }

.navBarListaResponsive {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 50px 0px 0px 0px;
  gap: 4rem;
  z-index: 9;
  background-color: rgba(131, 251, 247, 0.89); }

@keyframes aparecer {
  from {
    right: -1000px; }
  to {
    right: 0px; } }

@keyframes desaparecer {
  from {
    right: 0px; }
  to {
    right: -1000px; } }

.navBarListaLi {
  list-style: none; }

.navBarListaLink {
  color: rgba(0, 0, 255, 0.76);
  text-decoration: none; }

.navBarListaLink:visited {
  color: rgba(0, 0, 255, 0.76); }

@media only screen and (min-width: 680px) {
  .navBarMenuIcon {
    display: none; }
  .navBarLista {
    position: unset;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    min-height: unset;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0px 20px 0px 0px;
    gap: 2rem; } }

.galeriaContainer {
  width: 100%;
  height: auto;
  padding: 20px 0px 50px 0px; }

.carousel {
  width: 60vw;
  max-height: 80vh;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px; }

.carousel-item-img {
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  border-radius: 10px; }

.carousel-control-prev-icon {
  border-radius: 50%;
  color: white; }

.carousel-control-next-icon {
  border-radius: 50%;
  color: white; }

@media only screen and (min-width: 325px) and (max-width: 571px) {
  .carousel {
    width: 90vw;
    height: 50vh; }
  .carousel-item-img {
    width: 100vw;
    height: 50vh; } }

@media only screen and (min-width: 572px) and (max-width: 1000px) {
  .carousel {
    width: 90vw;
    height: 70vh; }
  .carousel-item-img {
    width: 100vw;
    height: 70vh; } }

.servicios {
  width: 100%;
  height: auto;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .serviciosContenedor {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    gap: 10px;
    justify-content: center;
    align-items: center; }
    .serviciosContenedorItem {
      width: 170px;
      height: 50px;
      justify-self: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid black;
      border-radius: 20px;
      background-color: #63a4ff;
      background-image: linear-gradient(65deg, #63a4ff 0%, #83eaf1 45%); }
      .serviciosContenedorItemIcono {
        width: 20%;
        text-align: center;
        font-size: 20px; }
      .serviciosContenedorItemTexto {
        width: 60%;
        color: #0d0d0f;
        text-align: end; }

@media only screen and (max-width: 800px) {
  .serviciosContenedor {
    width: 100%; } }

.ubicacion {
  width: 100%;
  height: auto;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .ubicacionTexto {
    min-width: 310px;
    width: 70%;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: justify;
    padding: 20px 50px;
    text-align: justify; }
    .ubicacionTextoColor {
      color: rgba(0, 0, 255, 0.76);
      background-color: yellow; }

@media only screen and (max-width: 800px) {
  .ubicacionTexto {
    width: 100%;
    padding: 20px 10px; } }

.contacto {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .contactoContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px; }
  .contacto .redesIconos {
    width: 50px;
    height: 50px;
    align-self: center; }
